
@{
    ViewBag.Title = "RadioButtonList";
}

<h2>RadioButtonList</h2>
@*<style>
        .radio-inline + .radio-inline {
            margin-left: 5px;
        }

        .radio-inline:first-child {
            margin-left: 5px;
        }
    </style>*@
<div ng-app="myApp">
    <div ng-controller="myCtrl">
        <h3>{{SelectedValue}}</h3>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <input type="text" ng-model="textKim" />
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="Kim" value="Apple" ng-model="SelectedValue" />    Apple
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Kim" value="hTC" ng-model="SelectedValue" />  hTC
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Kim" value="Nokia" ng-model="SelectedValue" />   Nokia
                        </label>
                    </div>
                    @* inline style
                            <label class="radio-inline">
                            <input type="radio" name="Kim" value="Apple" ng-model="SelectedValue" />    Apple
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Kim" value="hTC" ng-model="SelectedValue" />  hTC
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Kim" value="Nokia" ng-model="SelectedValue" />   Nokia
                        </label>*@
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        var myApp = angular.module("myApp", []);
        var myCtrl = myApp.controller("myCtrl", function ($scope) {
            $scope.SelectedValue = "hTC";
        });

    </script>
}