@{
    ViewBag.Title = "Developer";
}
Directive Doc:<a href="https://docs.angularjs.org/guide/directive">Link</a>
<div ng-app="staticTemplateApp" class="panel panel-primary">
    <div class="panel-heading">Template-expanding directive</div>
    <div ng-controller="myCtrl" class="panel-body">
        <div my-customer></div>
    </div>
</div>

<div id="restrictApp" ng-app="restrictApp" class="panel panel-info">
    <div class="panel-heading">Template-expanding Restrict</div>
    <div ng-controller="myCtrl" class="panel-body">
        <my-customer></my-customer>
    </div>
</div>
<div id="isoApp" ng-app="isoApp" class="panel panel-success">
    <div class="panel-heading">Isolating the Scope of a Directive</div>
    <div ng-controller="myCtrl" class="panel-body">
        <my-customer info="naomi"></my-customer>
    </div>
</div>
<div id="manApp" ng-app="manApp" class="panel panel-warning">
    <div class="panel-heading">Creating a Directive that Manipulates the DOM</div>
    <div ng-controller="myCtrl" class="panel-body">
        Date format: <input ng-model="format"> <hr />
        Current time is: <span my-current-time="format"></span>
    </div>
</div>
<div id="wrapApp" ng-app="wrapApp" class="panel panel-danger">
    <div class="panel-heading">Creating a Directive that Wraps Other Elements</div>
    <div ng-controller="myCtrl" class="panel-body">
        <my-dialog>Check out the contents,{{name}}</my-dialog>
    </div>
</div>
<div id="wrapAppAttr" class="panel panel-danger">
    <div class="panel-heading">Creating a Directive that Wraps Other Elements-屬性API</div>
    <div ng-controller="myCtrl" class="panel-body">
        <my-dialog ng-hide="dialogIsHidden" on-close="hideDialog()">
            Check out the contents, {{name}}!
        </my-dialog>
    </div>
</div>
<div id="evtApp" class="panel panel-default">
    <div class="panel-heading">Creating a Directive that Adds Event Listeners</div>
    <div class="panel-body">
        <span class="glyphicon glyphicon-arrow-up" my-draggable>drag me!</span>
        <my-draggable>kim</my-draggable>
    </div>
</div>

<div id="comuApp" class="panel panel-primary">
    <div class="panel-heading">Creating Directives that Communicate</div>
    <div class="panel-body">
        <my-tabs>
            <my-pane title="Hello">
                <h4>Hello</h4>
                <p>Lorem ipsum dolor sit amet</p>
            </my-pane>
            <my-pane title="World">
                <h4>World</h4>
                <em>Mauris elementum elementum enim at suscipit.</em>
                <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
            </my-pane>
        </my-tabs>
    </div>

    <script type="text/ng-template" id="my-tabs.html">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
                    <a href="" ng-click="select(pane)">{{pane.title2}}</a>
                </li>
            </ul>
            <div class="tab-content" ng-transclude></div>
        </div>
    </script>


    <script type="text/ng-template" id="my-pane.html">
        <div class="tab-pane" ng-show="selected" ng-transclude>
        </div>
    </script>
</div>
@section scripts{
    <script src="~/Scripts/Developer/Directive.js"></script>
   
}
