@{
    ViewBag.Title = "StateProviderBasic";
}

<h2>StateProviderBasic</h2>
<div ng-app="stateProviderApp">
    <div ng-controller="myCtrl">
        <h3>{{name}}</h3>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Developer/StateProviderBasic.js"></script>
}
