<h4>DirectiveAsController TypeScript</h4>
<div ng-app="myApp">
    <div ng-view></div>
</div>
@section scripts{
    <script src="~/Views/OneFiveFeature/DirectiveAsControllerTypeScript.js"></script>
 <script>
     new Lab.App();
    </script>
}
