
@{
    ViewBag.Title = "TemplatingLinksImages";
}

<h2>TemplatingLinksImages</h2>
Source:<a href="https://docs.angularjs.org/tutorial/step_06" target="_blank">Two-way Data Binding</a>
重點:圖片繫結src
<div ng-app="phoneApp">
    <div class="container-fluid">
        <div class="row" ng-controller="phoneCtrl">
            <div class="col-md-2">
                Search:<input ng-model="query" /><br />
                Sort by: <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
            <div class="col-md-10">
                <ul>
                    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
                        <a href="#/phones/{{phone.id}}"><img ng-src="{{phone.imageUrl}}" /></a>
                        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var phoneApp = angular.module("phoneApp", []);
        phoneApp.controller("phoneCtrl", function ($scope, $http) {
            $http.get('@Url.Content("~/Content/phones.txt")').success(function (data) {
                $scope.phones = data;
            });
            $scope.orderProp = 'age';
        });
    </script>
}